.App {
  text-align: left;
  
  font-family: 'SofAguafina Scriptia';
   font-size: 77px;
}
.button,.text{
  font-size: xx-large;
}
.oo{
  width: 11px;
  font-family: 'SofAguafina Scriptia';
}
.sukku
{
 
  position: absolute;
  top: 169px;
  margin: initial;
  font-size: xxx-large;
  
}
body{
  font-family: 'SofAguafina Scriptia';
}
.romantic
{
  background-image: url("romantic.jpg") ;
  background-repeat: no-repeat;
  background-size: 1823px 1803px;
  background-position: center;
  height: 723px;
}

.head
{
  position: relative;
  top: -77px;
  font-size: xx-large;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sukkuimg
{
  border-radius: 86px;
  height: 200px;
  width: 200px;
  top: 168px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
